div(class='card')
  div(class='card-header') Czujniki
  div(class='list-group list-group-flush')
    each sensor in sensors
      a(href=`/sensor/${sensor.mac}`, class=`list-group-item list-group-item-action ${sensor.active ? '' : 'disabled'}`)
        div(class='d-flex w-100 justify-content-between')
          strong(class='mb-1')= sensor.mac
          if sensor.active
            small(style='color: green') Aktywny
          else
            small(style='color: red') Nieaktywny
        p(class='mb-1') Ostatni odczyt o
          | 
          strong= new Date(sensor.lastTimestamp).toLocaleTimeString()
          | 
          span ,wartość
          | 
          strong= sensor.lastMeasurement  
